@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-pink: #FF9CCC;
  --primary-pink: #981957;
  --primary: #981957;
  --secondary: #FF9CCC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-pink: var(--secondary-pink);
  --color-primary-pink: var(--primary-pink);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-poppins);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}